---
import { Counter } from "@/components/Counter";
import Title from "@/components/shared/Title.astro";
import MainLayout from "@/layouts/MainLayout.astro";

// client:load tiene prioridad alta en el renderizado de componentes es util para UI inmediatamente visible
   // client:idle se hace despues de que todo el contenido haya sido cargado
   // client:visible se ejecuta cuando el contenido ya ha sido renderizado y este visible al usuario
   // client:media se ejecuta condicionado por media querySelector
   // client:only se ejecuta al cargar el componente

  const counterValue = 10;
---

<MainLayout title="Favoritos">
   <Title>Listado de favoritos</Title>

   <Counter 
   transition:persist-props
   transition:persist="counter"
    client:visible 
    initialvalue={counterValue} />

</MainLayout>
