---
import MainLayout from "@/layouts/MainLayout.astro";

---

<MainLayout title="Favoritos">
    <h1 class="text-5xl text-center font-bold py-12 bg-gradient-to-r from-neutral-200 via-red-300 to-orange-600 text-transparent bg-clip-text">Favoritos</h1>
</MainLayout>