---
import { Counter } from "@/components/Counter";
import Title from "@/components/shared/Title.astro";
import MainLayout from "@/layouts/MainLayout.astro";

// client:load tiene prioridad alta en el renderizado de componentes es util para UI inmediatamente visible
   // client:idle se hace despues de que todo el contenido haya sido cargado
   // client:visible se ejecuta cuando el contenido ya ha sido renderizado y este visible al usuario
   // client:media se ejecuta condicionado por media querySelector
   // client:only se ejecuta al cargar el componente
---

<MainLayout title="Favoritos">
   <Title>Astro Islands</Title>
   <div style={{
      border: "2px solid white",
      margin: "0 40px",
      height: "2000px",
      background: "red",
      opacity: "0.3"
   }}>

   </div>
   <Counter client:load />



</MainLayout>
