---
import { Counter } from "@/components/Counter";
import Title from "@/components/shared/Title.astro";
import MainLayout from "@/layouts/MainLayout.astro";


const counterValue = 10;
---

<MainLayout title="Favoritos">
   <Title>Astro Islands</Title>
   <div style={{
      border: "2px solid white",
      margin: "0 40px",
      height: "2000px",
      background: "red",
      opacity: "0.3"
   }}>

   </div>
   <Counter transition:persist-props transition:persist="counter" client:visible initialvalue={counterValue} >
      <Title>Counter Island</Title>
   </Counter>
 


</MainLayout>
